html,
body {
    height: 100%;
    background: linear-gradient(to right, #212529, rgb(30, 94, 136));
    color: #eeeeeeee !important;
}

html {
    --myColor: #00bae2;
}

.home {
    /* border: 2px solid var(--myColor); */
    border-radius: 40px;
    user-select: none;
    position: relative;
}

/* .home .row{
    overflow-y: hidden;
} */
.home h4 span {
    display: inline-block;
    color: var(--myColor);
}

.home .card {
    padding: 25px;
    border: none;
    white-space: nowrap;
    background-color: var(--myColor);
    color: white;
    box-shadow: 0px 0px 0px 0px #dddddddd;
    transition: all 0.4s ease;
}

.home .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 30px #dddddd33;
    background-color: #c9e0fa;
    color: #212529;
    cursor: pointer;
    user-select: none;
}

.button {
    box-shadow: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.outline {
    background: transparent;
    border: 0.8px solid rgba(255, 255, 255, 0.76);
    color: rgba(255, 255, 255, 0.76);
}

.button:hover {
    color: white;
    background: transparent;
    border: 1px solid white;
}

.outline:hover {
    background: #fff;
    color: black;
}

.DS {
    position: absolute;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}